<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/JavaWithMelvin_LookedAt4.16.19/testingsForMeToDo/chapter2/examplesWithGraphics.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="200"/>
    <stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
    <intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="200"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chapter2.examplesWithGraphics"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaWithMelvin_LookedAt4.16.19"/>
</launchConfiguration>
