<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/JavaWithMelvin_LookedAt4.16.19/revisitingChapters4/oneClassTake/PlusMinusGUI.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="oneClassTake.PlusMinusGUI"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaWithMelvin_LookedAt4.16.19"/>
</launchConfiguration>
